#root {
  height: 100vh;
}

.kl-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

.kl-canvas {
  width: 100vw;
  height: 100vh;

  background: url('/seattle.jpg') no-repeat center center;
  background-size: cover; 
}

.kl-button-talk {
  --diameter: 20ch;

  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.3);
  bottom: 4em;
  color: white;
  cursor: pointer;
  height: var(--diameter);
  left: calc(50% - 10ch);
  position: absolute;
  width: var(--diameter);
}

.kl-button-talk .material-icons {
  font-size: 6em;
}