#root {
  height: 100vh;
}

.kl-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

.kl-canvas {
  width: 100vw;
  height: 100vh;

  background: url('/seattle.jpg') no-repeat center center;
  background-size: cover; 
}

.kl-talk {
  --diameter: 20ch;
  left: calc(50% - 10ch);
  position: absolute;
  width: var(--diameter);
  bottom: 4em;

  display: grid;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
  color: white;
}

.kl-button-talk {
  width: 20ch;
  height: 20ch;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.3);
  color: white;
  cursor: pointer;
}

.kl-button-talk .material-icons {
  font-size: 6em;
}

.kl-button-talk--active {
  --color: red;
  border-color: var(--color);
  color: var(--color);
}